name: Flutter Pipeline

on:
  pull_request:
    branches: [develop]

# Cancel các workflow cũ khi có build mới
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Permissions for creating and pushing tags
permissions:
  contents: write

# Environment variables - Configuration
env:
  FLUTTER_VERSION: "3.32.8"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable" # 'dev', 'alpha', default to: 'stable'
      - run: flutter pub get
      - run: flutter analyze
      # Check for any formatting issue in the code
      - name: Check formatting issue
        run: dart format --set-exit-if-changed .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable" # 'dev', 'alpha', default to: 'stable'
      - run: flutter pub get
      - run: flutter test

  build_apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable" # 'dev', 'alpha', default to: 'stable'
      - run: flutter pub get
      - run: flutter build apk

  build_ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable" # 'dev', 'alpha', default to: 'stable'
      - run: flutter pub get
      - run: flutter build ios --no-codesign
